.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
    "ia ia ia ia"
    "pr pr am am";
}
.interactive {
  grid-area: ia;
  text-align: center;
}
.projects {
  grid-area: pr;
  text-align: center;
}
.aboutme {
  grid-area: am;
  text-align: center;
}
