html,
body {
  margin: 0;
  padding: 0;
  background-color: #c4c4c4;
  font-family: monospace;
}

.header {
  grid-area: t;
  display: flex;
  flex-direction: row;
  background-color: #93171a;
  background-image: linear-gradient(180deg, darkred, #93171a);
  justify-content: left;
  align-content: center;
  align-items: center;
  border-bottom: solid 2px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  font-size: 35px;
  margin-left: 15px;
  text-shadow: 1px 1px 3px black;
  color: white;
  transition-duration: 0.4s;
}

h1:hover {
  color: black;
}

.contactClickable {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.header img {
  height: 60px;
  width: 60px;
  transition-duration: 0.4s;
}

.header img:hover {
  scale: 1.1;
}

.headerPhoto {
  margin-left: 10px;
}

.header button {
  margin-left: 10px;
}

button {
  font-family: monospace;
  height: 40px;
  width: 100px;
  border-radius: 1px;
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border: 1px solid white;
}

button:hover {
  color: #93171a;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(1fr, auto);
  grid-template-areas:
    "am pr pr"
    ". pr pr"
    ". pr pr"
    ". . .";
  gap: 10px;
  overflow: scroll;
  margin-top: 100px;
}

.projects {
  grid-area: pr;
  text-align: center;
  background-image: linear-gradient(295deg, rgb(157, 157, 157), #c4c4c4);
  margin-right: 10px;
  border-radius: 5px;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.aboutme {
  grid-area: am;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, rgb(157, 157, 157), #c4c4c4);
}

.me {
  margin-right: 10px;
  margin-top: 5px;
  height: 200px;
  width: 150px;
  border: 2px solid black;
}

.contactPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(60deg, rgb(157, 157, 157), #c4c4c4);
  border-radius: 2px;
  margin-top: 100px;
  font-family: monospace;
}

.formInput {
  padding: 2px;
}

.contactPage textarea {
  height: 200px;
  width: 400px;
}
